<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content= "View the latest COVID-19 outbreak information for Jeju, South Korea.">
    <meta name="twitter:image" content="<%= BASE_URL %>share.jpg">
    <meta property="og:image" content="<%= BASE_URL %>share.jpg">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
