<template>
  <div class="flex flex-row-reverse h-screen overflow-hidden relative w-screen">
    <MapDrawer v-bind="{ cases }" :class="drawerClasses" />

    <CaseMap v-bind="{ cases }" class="flex-none md:flex-auto w-screen z-10" />

    <MapToggle
      v-if="isMobile"
      class="z-30"
      :drawer-expanded="drawerExpanded"
      @click.passive="toggleMobileView"
    />
  </div>
</template>

<script>
import cases from '@/data'
import CaseMap from '@/components/CaseMap.vue'
import MapDrawer from '@/components/MapDrawer.vue'
import MapToggle from '@/components/MapToggle.vue'

export default {
  name: 'Map',

  components: { CaseMap, MapDrawer, MapToggle },

  data () {
    return {
      cases: cases.slice().reverse(),
      drawerExpanded: true,
      isMobile: null,
    }
  },

  computed: {
    drawerClasses () {
      const { drawerExpanded, isMobile } = this
      let c = 'flex-none sm:max-w-xs w-screen z-20'

      if (isMobile) {
        c += ' bottom-0 duration-150 ease-in-out fixed right-0 top-0 transform transition-transform z-10'
        c += drawerExpanded ? ' translate-x-0' : ' translate-x-full'
      }

      return c
    },
  },

  mounted () {
    window.addEventListener('resize', this.checkWindowWidth, true)
    this.checkWindowWidth()
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.checkWindowWidth, true)
  },

  methods: {
    checkWindowWidth () {
      this.isMobile = window.innerWidth < 640
    },

    toggleMobileView () {
      this.drawerExpanded = !this.drawerExpanded
    },
  },
}
</script>
