<template>
  <i
    class="border border-solid border-transparent block flex-none h-3 rounded-full w-3"
    :style="style"
  />
</template>

<script>
export default {
  name: 'Blip',

  props: {
    color: {
      default: '#80808',
      type: String,
    },

    empty: {
      default: false,
      type: Boolean,
    },
  },

  computed: {
    style () {
      if (this.empty) return `border-color: ${this.color};`
      return `background-color: ${this.color};`
    },
  },
}
</script>
