<template>
  <button
    type="button"
    class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
    @click="$emit('click')"
    @keyup.space="$emit('click')"
  >
    <slot name="default">
      Button Text
    </slot>
  </button>
</template>

<script>
export default {
  name: 'Button',

  data () {
    return {}
  },
}
</script>
