<template>
  <ol>
    <CaseActivityItem
      v-for="(event, index) in activity"
      :key="event.note"
      :color="item.color"
      :item="event"
      :last="isLast(index)"
    />
  </ol>
</template>

<script>
import CaseActivityItem from './CaseActivityItem.vue'

export default {
  name: 'CaseActivity',

  components: { CaseActivityItem },

  props: {
    item: {
      default: null,
      type: Object,
    },
  },

  computed: {
    activity () {
      return this.item.activity.filter(event => event.hiddenFromUI !== true)
    },
  },

  methods: {
    isLast (index) {
      return this.activity.length - index === 1
    },
  },
}
</script>
