<template>
  <li class="border-b border-gray-800 border-solid">
    <button
      type="button"
      class="hover:bg-gray-800 duration-150 ease-in-out flex p-4 text-left transition-colors w-full"
      @click.prevent="$emit('select')"
    >
      <Blip :color="item.color" class="mr-2 mt-1" />

      <span class="leading-tight">
        <span class="flex items-center">
          {{ item.label }}

          <Badge v-if="!inactive" class="ml-2" title="This case has occurred within the past two weeks.">
            Active
          </Badge>
        </span>

        <span class="block text-gray-600 text-xs">{{ dateRange }}</span>
      </span>
    </button>
  </li>
</template>

<script>
import moment from 'moment'
import Badge from './Badge.vue'
import Blip from './Blip.vue'

export default {
  name: 'CaseListItem',

  components: { Badge, Blip },

  props: {
    item: {
      default: null,
      type: Object,
    },
  },

  computed: {
    arrived () {
      const date = this.item.activity.find(item => 'arrived' in item)
      return date.arrived
    },

    dateRange () {
      const { arrived, departed } = this
      const start = moment(arrived)
      const end = moment(departed)

      if (start.isSame(end, 'day')) return start.format('MMM D, YYYY')

      if (start.isSame(end, 'month')) return `${start.format('MMM D')}—${end.format('D, YYYY')}`

      return `${start.format('MMM D')}—${end.format('MMM D, YYYY')}`
    },

    departed () {
      const activities = this.item.activity.slice()
      const date = activities.reverse().find(item => 'departed' in item)
      return date.departed
    },

    dotStyles () {
      return `background-color:${this.item.color}`
    },

    inactive () {
      const { departed } = this
      const twoWeeksAgo = moment().subtract(2, 'weeks')
      return moment(departed).isBefore(twoWeeksAgo)
    },
  },
}
</script>
