<template>
  <div>
    <ol v-if="!currentCase">
      <CaseListItem
        v-for="item in cases"
        :key="item.name"
        :item="item"
        @select="showCase(item)"
      />
    </ol>

    <CaseInfo
      v-else
      :item="currentCase"
      @dismiss="showCase(null)"
    />
  </div>
</template>

<script>
import CaseInfo from './CaseInfo.vue'
import CaseListItem from './CaseListItem.vue'

export default {
  name: 'CaseList',

  components: { CaseInfo, CaseListItem },

  props: {
    cases: {
      default () { return [] },
      type: Array,
    },
  },

  data () {
    return {
      currentCase: null,
    }
  },

  methods: {
    showCase (item) {
      this.currentCase = item
    },
  },
}
</script>
