<template>
  <div id="wrapper" rel="wrapper" class="overflow-hidden" />
</template>

<script>
import GeoJSON from 'geojson'
import mapboxgl from 'mapbox-gl'
import 'mapbox-gl/dist/mapbox-gl.css'

mapboxgl.accessToken = process.env.VUE_APP_MAPBOX_ACCESS_TOKEN

export default {
  name: 'CaseMap',

  props: {
    cases: {
      default () { return [] },
      type: Array,
    },
  },

  data () {
    return {
      map: null,
    }
  },

  mounted () {
    this.createMap()
    this.map.on('load', this.populateMap)
  },

  methods: {
    addEstimatedRoute (name, color) {
      this.map.addLayer({
        id: `${name}-route`,
        type: 'line',
        source: name,
        layout: {
          'line-cap': 'round',
          'line-join': 'round',
        },
        paint: {
          'line-color': color,
          'line-dasharray': [0, 2],
          'line-width': 2,
          'line-opacity': 0.8,
        },
      })
    },

    addPoints (name, color) {
      this.map.addLayer({
        id: `${name}-points`,
        type: 'circle',
        source: name,
        paint: {
          'circle-radius': 6,
          'circle-color': color,
        },
        filter: ['==', '$type', 'Point'],
      })
    },

    addRegions (name, color) {
      this.map.addLayer({
        id: `${name}-regions`,
        type: 'fill',
        source: name,
        paint: {
          'fill-color': color,
          'fill-opacity': 0.1,
        },
        filter: ['==', '$type', 'Polygon'],
      })
    },

    createMap () {
      const map = new mapboxgl.Map({
        container: 'wrapper',
        style: process.env.VUE_APP_MAPBOX_STYLE_URL,
        center: [126.561893, 33.387482],
        zoom: 9.5,
      })

      this.map = map
      this.$emit('map-created')
    },

    loadMapData (sourceName, data) {
      const geojson = { type: 'geojson', data: data }
      this.map.addSource(sourceName, geojson)
    },

    populateMap () {
      const {
        addEstimatedRoute,
        addPoints,
        addRegions,
        cases,
        loadMapData,
      } = this

      cases.forEach((caseObj, index) => {
        const { activity, color, name } = caseObj
        const data = GeoJSON.parse(activity, {
          LineString: 'route',
          Point: 'point',
          Polygon: 'polygon',
        })

        loadMapData(name, data)
        addRegions(name, color)
        addPoints(name, color)
        addEstimatedRoute(name, color)
      })
    },
  },
}
</script>
