<template>
  <li class="flex pb-2 relative">
    <i v-if="!last" class="absolute left-0 top-0 bottom-0 w-1 border-l-2 border-dotted border-gray-700 transform translate-x-1 translate-y-1" />

    <Blip :color="color" :empty="!placeable" class="mr-2 mt-1 relative" />

    <div class="relative">
      <h4 v-if="item.placename" class="leading-tight">
        {{ item.placename }}
      </h4>

      <div class="copy">
        <p v-if="item.note">
          {{ item.note }}

          <span v-if="duration" class="block muted">
            {{ duration }}
          </span>

          <span v-if="item.address" class="block muted">
            <svg
              class="icon"
              height="100"
              viewBox="0 0 100 100"
              width="100"
            >
              <path d="M84.776 21.573C75.126 2.378 51.734-5.385 32.538 4.266c-19.195 9.65-26.643 33.88-17.307 52.237 4.405 8.707 22.762 31.364 30.839 41.33 1.993 2.517 5.77 2.517 7.867 0 8.077-9.966 26.224-32.623 30.944-41.33 5.874-10.699 5.664-23.496-.105-34.93zm-34.72 33.868c-9.006 0-16.245-7.323-16.245-16.245A16.201 16.201 0 0150.056 22.95c9.006 0 16.245 7.323 16.245 16.245.084 8.922-7.239 16.245-16.245 16.245z" />
            </svg>

            {{ item.address }}
          </span>
        </p>
      </div>
    </div>
  </li>
</template>

<script>
import moment from 'moment'
import Blip from './Blip.vue'

export default {
  name: 'CaseActivityItem',

  components: { Blip },

  props: {
    color: {
      default: '#808080',
      type: String,
    },

    item: {
      default: null,
      type: Object,
    },

    last: {
      default: false,
      type: Boolean,
    },
  },

  computed: {
    duration () {
      let from = null
      let to = null

      if ('arrived' in this.item) from = moment(this.item.arrived)
      if ('departed' in this.item) to = moment(this.item.departed)

      if (!from && !to) return null
      else if (!from) return `Departed: ${to.format('MMM D H:mm')}`
      else if (!to) return `Arrived: ${from.format('MMM D H:mm')}`
      else if (from.isSame(to, 'day')) return `${from.format('MMM D, H:mm')}—${to.format('H:mm')}`
      else return `${from.format('MMM D, H:mm')}—${to.format('MMM D, H:mm')}`
    },

    placeable () {
      return 'address' in this.item
    },
  },
}
</script>
