<template>
  <div class="pb-12 pt-4 px-4">
    <h2 class="flex items-center justify-between leading-none mb-2 text-xl">
      {{ item.label }}

      <a
        href="#close"
        class="duration-150 ease-in-out -m-4 p-4 text-gray-600 hover:text-white text-base transition-color"
        @click.prevent="dismiss"
      >
        <svg
          class="icon"
          height="100"
          viewBox="0 0 100 100"
          width="100"
        >
          <path d="M81.645 11.292a5 5 0 016.89 7.244L57.072 50l31.465 31.464a5 5 0 01-6.89 7.244l-.182-.172L50 57.07 18.536 88.536l-.181.172a5 5 0 01-6.89-7.244L42.928 50 11.464 18.536a5 5 0 016.89-7.244l.182.172L50 42.93l31.464-31.465z" />
        </svg>
      </a>
    </h2>

    <div class="copy">
      <p>{{ item.description }}</p>
    </div>

    <h3 class="mb-2 text-xs tracking-wider uppercase">
      Activity
    </h3>

    <CaseActivity :item="item" />

    <Button @click="dismiss">
      Close Case
    </Button>
  </div>
</template>

<script>
import Button from './Button.vue'
import CaseActivity from './CaseActivity.vue'

export default {
  name: 'CaseInfo',

  components: { Button, CaseActivity },

  props: {
    item: {
      default: null,
      type: Object,
    },
  },

  mounted () {
    window.addEventListener('keyup', this.dismiss, true)
  },

  beforeDestroy () {
    window.removeEventListener('keyup', this.dismiss, true)
  },

  methods: {
    dismiss () {
      this.$emit('dismiss')
    },
  },
}
</script>
