<template>
  <section class="bg-gray-900 flex flex-col text-gray-200">
    <header class="bg-black flex-none p-4">
      <h1 class="font-bold text-xs text-white uppercase">
        COVID-19 Map: Jeju Island
      </h1>
    </header>

    <div class="flex flex-auto overflow-hidden">
      <MapDrawerIntro v-if="showIntro" @dismiss="showIntro = false" />

      <TabGroup v-else rel="map-tabs" :tabs="tabs">
        <template v-slot:casestab>
          <CaseList :cases="cases" />
        </template>

        <template v-slot:abouttab>
          <div class="p-4">
            <h2 class="flex items-center justify-between leading-none mb-2 text-xl">
              About
            </h2>

            <!-- eslint-disable -->
            <div class="copy">
              <p class="lead">
                This website is a project built by <a href="https://raybrown.co" class="underline" target="_blank" rel="noopener">Ray Brown</a>. It uses data provided by outlets such as <a href="https://www.visitjeju.net/en" target="_blank" rel="noopener" class="underline">Jeju Tourism Organization</a> as well as from Jeju resident Giuseppe Rositano, who has gathered a lot of this information by hand.
              </p>

              <p>The project is built using open source software and the <a href="https://gitlab.com/raybrown/covid-19-map-jeju" target="_blank" rel="noopener" class="underline">codebase</a> is publicly available. </p>

              <p><strong>TODO:</strong></p>

              <ul class="list-disc list-outside ml-3">
                <li>Add Korean language support</li>
                <li>Zoom map to a point when an activity is clicked within the sidebar</li>
                <li>Add new COVID-19 cases and improve existing case data</li>
              </ul>

              <p>If you can help with any of these items—or if you have any questions, comments, or concerns—please reach out to <a href="https://raybrown.co" class="underline" target="_blank" rel="noopener">Ray Brown</a>. Thank you!</p>
            </div>
            <!-- eslint-enable -->
          </div>
        </template>
      </TabGroup>
    </div>
  </section>
</template>

<script>
import CaseList from './CaseList.vue'
import MapDrawerIntro from './MapDrawerIntro.vue'
import TabGroup from './Tab/group.vue'

export default {
  name: 'MapDrawer',

  components: { CaseList, MapDrawerIntro, TabGroup },

  props: {
    cases: {
      default () { return [] },
      type: Array,
    },
  },

  data () {
    return {
      showIntro: true,

      tabs: [
        { label: 'Cases', panelId: 'casestab' },
        { label: 'About', panelId: 'abouttab' },
      ],
    }
  },
}
</script>
