<template>
  <div class="p-8 overflow-y-auto">
    <img src="@/assets/images/dol-hareubang-with-mask.svg" alt="Dol Hareubang with Mask" class="block mb-4 mx-auto w-12">

    <div class="copy">
      <p class="lead">
        This website displays the places exposed to COVID-19 on Jeju Island. This information has been made public via Korean news sources. The purpose of the map is solely to provide an informal, unofficial, estimated visualization of COVID-19 exposure on Jeju.
      </p>

      <p>
        <strong class="font-bold uppercase">Important:</strong>
      </p>

      <p>
        The public data is not 100% complete or accurate. Some guesses have been made about where each person has been. There have also been omissions of some data for being too vague to be usefully displayed on a map.
      </p>

      <p>
        Finally, <em>the route (dotted) lines are simulated!</em>  They are included to approximate where the virus has been, so that we may notice areas of high activity or potentially repeated exposure. However, they are *not* the actual routes that each COVID-19 case used. This data is not publicly available.
      </p>
    </div>

    <Button class="mb-8" @click="$emit('dismiss')">
      View COVID-19 Cases
    </Button>
  </div>
</template>

<script>
import Button from './Button.vue'

export default {
  name: 'MapDrawerIntro',

  components: { Button },
}
</script>
