<template>
  <section :id="rel" class="flex flex-col w-full">
    <TabNav
      v-bind="{ rel, selectedPanelId, tabs }"
      @select="select"
      @focus-panel="focusPanel"
      @prev="prev"
      @next="next"
    />

    <TabPanel
      v-for="tab in tabs"
      :key="tab.panelId"
      :panel-id="tab.panelId"
      :rel="rel"
      :selected="tab.panelId === selectedPanelId"
      @focus-tab="focusTab"
    >
      <template v-slot:default>
        <slot :name="tab.panelId" />
      </template>
    </TabPanel>
  </section>
</template>

<script>
import TabNav from './nav'
import TabPanel from './panel'

/**
 * The `TabbedContent` component listens to the child `TabNav` component for
 * user interaction events and then determines `TabPanel` visibility
 * appropriately.
 */
export default {
  name: 'TabGroup',

  components: { TabNav, TabPanel },

  props: {
    /** A string that communciates which tab panels to operate on. */
    rel: {
      required: true,
      type: String,
    },

    /** An array of tab objects. */
    tabs: {
      default () { return [] },
      type: Array,
    },
  },

  data () {
    return {
      index: null,
      selectedPanelId: null,
    }
  },

  mounted () {
    this.select(this.tabs[0].panelId)
  },

  methods: {
    focusPanel () {
      document.getElementById(this.selectedPanelId).focus()
    },

    focusTab () {
      document.getElementById(this.selectedPanelId + '-tab').focus()
    },

    next () {
      const { index, select, tabs } = this
      const onLast = index + 1 === tabs.length
      const nextTab = onLast ? tabs[0] : tabs[index + 1]

      select(nextTab.panelId)
    },

    prev () {
      const { index, select, tabs } = this
      const onFirst = index > 0
      const prevTab = onFirst ? tabs[index - 1] : tabs[tabs.length - 1]

      select(prevTab.panelId)
    },

    select (panelId) {
      const { selectedPanelId, tabs } = this
      if (panelId === selectedPanelId) return

      this.index = tabs.findIndex(tab => tab.panelId === panelId)
      this.selectedPanelId = panelId
    },
  },
}
</script>
