<template>
  <div
    :id="panelId"
    ref="panel"
    :aria-labelledby="ariaLabelledby"
    :hidden="hidden"
    :rel="rel"
    :tabindex="tabindex"
    class="flex-auto h-full overflow-auto"
    @keyup.up="$emit('focus-tab')"
  >
    <slot />
  </div>
</template>

<script>
/**
 * The `TabPanel` component provides us with a slot that can contain any
 * content that we desire. It listens to the `TabGroup` component to
 * determine how to accessibly show and hide itself based on user interaction.
 */
export default {
  name: 'TabPanel',

  props: {
    /** Inherited from the `TabGroup` component. */
    panelId: {
      default: null,
      type: String,
    },

    /** Inherited from the `TabGroup` component. */
    rel: {
      default: null,
      type: String,
    },

    /**
     * Whether this panel is selected (visible) or not.
     * Controlled by the `TabGroup` component.
     */
    selected: {
      default: true,
      type: Boolean,
    },
  },

  computed: {
    ariaLabelledby () {
      const { panelId } = this
      return `${panelId}-nav-item`
    },

    hidden () {
      return this.selected ? null : 'hidden'
    },

    tabindex () {
      return this.selected ? '0' : '-1'
    },
  },
}
</script>
