<template>
  <div id="app" class="relative">
    <nav v-if="false" class="absolute bg-gray-900 flex left-0 m-4 px-2 rounded text-gray-200 top-0 z-10">
      <router-link class="px-2 py-4" to="/">
        Home
      </router-link>

      <router-link class="px-2 py-4" to="/about">
        About
      </router-link>
    </nav>

    <router-view class="relative" />
  </div>
</template>
