/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


.copy {
  @apply mb-4 text-gray-500 text-xs;
}

.copy .lead {
  @apply text-sm text-white;
}

.copy .muted {
  @apply text-gray-700;
}

.copy > * + * {
  @apply mt-2;
}

.icon {
  @apply inline-block fill-current h-em w-em;
}
